body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-color:rgb(218, 164, 231)
}

h1 {
    border-radius: 25px;
    background-color:rgb(172, 61, 187)
}

label {
    font-size: 20px;
    font-weight: bold;
}

button {
    width:40px;
    height: 25px;
    border-radius: 5px;
    border: 1px double rgb(71, 2, 71);
}

textarea {
    border-radius: 5px;
    border: 1px double rgb(219, 187, 2);
    background-color: rgb(241, 241, 222);
}

#complete_msg {
    text-align: left;
    width: max-content;
    border: 1px double rgb(219, 187, 2);
    border-radius: 5px;
    background-color: rgb(241, 241, 222);
}

#date_msg {
    margin: 4px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.671);
}

#text_msg {
    margin: 4px;
    font-size: 16px;
}

#messages-box {
    border-radius: 10px;
    background-color: rgb(245, 235, 150);
    border: 1px double rgb(71, 2, 71);
    padding: 8px 16px;
}

#message-field {
    border-radius: 10px;
    background-color: rgb(245, 235, 150);
    border: 1px double rgb(71, 2, 71);
    padding: 8px 16px;
}
